<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" width="60" height="60"/></a>
  <a class="navbar-brand" routerLink="/home">Electrical Engineering</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="jumbotron">
<h4><u>Electrical Engineering</u></h4>
<br>
B.Tech(EE) offered by this department has been accredited by National Board of Accreditation as per Washington Accord.

The department of electrical Engineering was established in 1962. This department has over the years established its reputation as an excellent center for importing high quality technical education to under graduates & consultancy to industries and government departments located in the eastern U.P. 

An M.Tech. course (Power Electronics and Drives) approved by AICTE has been started from the session 2001-2002. The department is also planning to start the aforesaid course on part time basis. It will bridge the gap between the research and the under graduate students. A number of AICTE projects are already in progress.
<br>
The department has a sanctioned strength of 3 Professor, 4 Assist. Professor and 10 Lectures.
</div>
