<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" width="60" height="60"/></a>
  <a class="navbar-brand" routerLink="/home">Ph.D Courses</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="jumbotron">
<h4><u>DOCTORAL & RESEARCH PROGRAM </u></h4>
The teachers and research scholars of various departments in the University and outside are registered as per ordinance. The University is also a QIP Center for Doctoral Programs in CE, ME, EE & EC. In fact, it is the first among State Engineering Institutions and 24 th in the country including IISc, IITs, NITs and a few universities where the sponsored faculty members from all over the country can join and pursue their Ph.D. courses in the above mentioned branches on deputation, under quality improvement program of Govt. of India.
<br>
<br>
<h4><u>ADMISSION PH.D.</u></h4>
In every academic session, the Madan Mohan Malaviya University of Technology, Gorakhpur invites applications for admission to Ph.D programme in the area of Engineering and Applied Sciences (Applied Physics, Applied Chemistry and Applied Mathematics). The admission is made through Admission Test conducted by MMMUT except for the admissions under Quality Improvement Programme. 
Eligibility : Candidates who possess the Master’s Degree with Ist Division in Engineering/ Technology/Science/Management/Humanities or equivalent in the relevant discipline are eligible for the admission to Ph.D. Programme.

Ph.D. under Quality Improvement Programme
The university has also been approved as a QIP centre by A.I.C.T.E. to offer Ph.D. under Quality Improvement Programme. The total intake for Ph.D. under QIP is 8 (2 seats in each of the four disciplines i.e. EE, EC, CE and ME).
<br>
<br>
<u><b>(a)Procedure for Admission</b></u>
<br>
Admission to Ph.D./Programs shall be made through Admission Test of the University.
<br>
<br>
<u><b>(b)Fellowship / Stipend</b></u>
<br>
Fellowship/Stipend shall be provided as per University norms/criteria prescribed by the sponsoring authority.
</div>
