<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" width="60" height="60"/></a>
  <a class="navbar-brand" routerLink="/home">Post-Graduate Courses</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="jumbotron">
<h4><u>MASTER OF TECHNOLOGY (M.Tech.)</u></h4>
The university offers full time M.Tech. programmes in Civil, Electrical , Electronics & Communication, Mechanical and Computer Sc. & Engineering Departments. The duration of the M.Tech. programme is 2 years (4 semesters). The first and second semesters of this programme contains the course work while the third and fourth semesters are devoted solely to thesis work. The students are required to submit a dissertation in partial fulfillment of the requirement for the master's degree at the end of fourth semester.
Details of M.Tech. programmes , no. Of seats and eligibility for admission is detailed below.
<table class="table">
  <thead>
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">M.Tech. Programme Offering Department</th>
      <th scope="col">Intake</th>
      <th scope="col">Eligibility Qualification</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Civil Engineering</td>
      <td>72</td>
      <td>	First class B.Tech./B.E. or equivalent Engneering degree in Civil/ Environmental/ Chemical /Structural/ Agricultural/ Aeronautical/Aerospace/ Mechanical/ Metallurgical/ Mining/ Production/ Energy System/ Petrochemical Engineering/ Construction Technology or First Class Master of Science Degree in Environmental Science/ Atmospheric Science/ Biochemistry/ Biotechnology/ Environmental Biotechnology/ Chemistry/Earth Sciences/ Life Sciences/Environmental Toxcology/ Environmental Management /Meteorology/ Microbiology or equivalent.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Computer Sc. & Engineering</td>
      <td>18</td>
      <td>First class /division in B.Tech. (Computer Sc.) /B.Tech. (Computer Sc. & Engg.) /B.Tech. Computer Engg.)/B.Tech. (Information Technology)/ MCA/M.Sc. (Computer Science)/ M.Sc. (Information Technology) or equivalent CGPA as specified by AICTE.</td>
    </tr>
    <tr>
    <tr>
      <th scope="row">3</th>
      <td>Information Technology</td>
      <td>18</td>
      <td>First class / division in B.Tech. (Computer Sc.) /B.Tech. (Computer Sc. & Engg.) / B.Tech. (Computer Engg.)/ B.Tech. (Information Technology)/ MCA/ M.Sc. (Computer Science)/ M.Sc. (Information Technology) or equivalent CGPA as specified by AICTE.</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Electrical Engineering</td>
      <td>36</td>
      <td>First class B.Tech. /B.E. or equivalent Engineerring degree in Engineering /Technology in Electrical Engg., Electrical & Electronics Engg., Electronics & Instrumentation Engg., Instrumentation & Control Engg., Electronics Instrumentation & Control Engg. and Instrumentation Engg.</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Electronics & Communication Engineering</td>
      <td>36</td>
      <td>First class B.Tech./B.E. or equivalent Enginering degree in Electronics Engineering, Electronics & Communcation Engineering, Electronics & Telecommunication Engineering, Electronics & Instrumentation Engineering and Electrical & Electronics Engineering.</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Mechanical Engineering</td>
      <td>36</td>
      <td>First class B.Tech./B.E. or equivalent Engineering degree in Mechanical Engineering / Production Engineering /Industrial Engineering /Production and Industrial Engineering/Manufacturing Technology /Automobile Engineering.</td>
    </tr>
  </tbody>
</table>
<h4><u>PROCEDURE FOR ADMISSION</u></h4>
Admission to the course will be made by Madan Mohan Malaviya University of Technology, Gorakhpur through Admission Test.

Reservation rules are followed in admissions as per norms of UP Govt./MMMUT, Gorakhpur.
<br>
<h4><u>MASTER OF COMPUTER APPLICATION (MCA)</u></h4>
Intake : 60
The admission is open to candidates of both sexes without discrimination of caste, creed and color .For admission to first year of M.C.A. the candidate should have passed the recognized Bachelor’s Degree of minimum three years duration from any recognized University of India as defined by UGC with Mathematics at 10+2 level and obtained minimum 55% (50% in case of candidates belonging to SC/ST category) marks in the qualifying examination without grace.
The minimum qualification required for admission to M.C.A course is Bachelor's degree of any recognized University or an equivalent degree with Mathematics or Statistics as one of the subjects. The admission to the course is made through Admission Test conducted by MMMUT.
<h4><u>MASTER IN BUSINESS ADMINISTRATION</u></h4>
The Centre for Management Studies of the university came into existance in 2001 and it is running MBA program under self -financed scheme presently.
Intake : 60
Reservation : as per norms of Govt./ MMMUT.
Eligibility : For admission to first year of M.B.A. the candidate should have passed the recognized Bachelor’s Degree of minimum three years duration from any recognized University of India as defined by UGC with at least 55% (50% in case of candidates belonging to SC/ST category) marks in the qualifying examination without grace.
The admission to the course is made through Admission Test conducted by MMMUT.
</div>
