<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" width="60" height="60"/></a>
  <a class="navbar-brand" routerLink="/home">Academics</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="Courses" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Courses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" *ngFor="let course of courses" routerLink="/{{course.code}}">{{course.name}}</a>
          </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Departments
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" *ngFor="let department of departments" routerLink="/{{department.code}}">{{department.name}}</a>
          
       </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admissions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" *ngFor="let course of courses" routerLink="/{{course.code}}">{{course.name}}</a>
          
       </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://mmmut.ac.in/ViewPublication.aspx">Academic Accomplishment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://mmmut.ac.in/ViewSyllabus.aspx">Syllabus</a>
      </li>
    </ul>
    <div class="register">
    <a class="btn btn-light btn-lg" href="#" role="button" routerLink="/signup">Register</a>
  </div>
  <div class="login">
    <a class="btn btn-light btn-lg" href="#" role="button" routerLink="/login">Login</a>
  </div>
  </div>
</nav>
