<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" width="60" height="60"/></a>
  <a class="navbar-brand" routerLink="/home">Chemical Engineering</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="jumbotron">
<h4><u>Chemical Engineering</u></h4>
<br>
The Department of Chemical Engineering with specialization in Sugar and Alcohol Technology has been started in the academic session 2016-17. The department offers four years B. Tech degree course with an annual intake of 60 students.
The vision of Chemical Engineering department at MMMUT Gorakhpur is to achieve national and international recognition through the educational and research achievements and the professional service of our faculty, staff and students. Our mission is to provide students with an overall educational experience that prepares our students to become successful professional chemical engineers capable of undertaking both life-long learning and further advanced studies.
The department is trying to achieve fully developed infrastructure and well equipped laboratories in Chemical Engineering with specialization in Sugar and Alcohol Technology. Apart from this, department envisions to regularly organizing seminars and workshop on its own or with collaboration with other elite institutions and industries. Department will be equipped with Computer lab, Chemical Reaction Engineering, Plant and Process Design, Quality Control, Transport Phenomenon and Sugar & Alcohol Technology would be developed in due course of time. Chemical Engineering Department of MMMUT Gorakhpur will focus on relevant syllabus and research and development in the field of Chemical Products Processing, Modelling and Simulation, Biological systems engineering, Food Processing Technology, Green Energy, Industrial Biotechnology, Bioreactor Design and Electrochemical Energy Conversion.
</div>
