<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" width="60" height="60"/></a>
  <a class="navbar-brand" routerLink="/home">Civil Engineering</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="jumbotron">
<h4><u>Civil Engineering</u></h4>
<br>
B.Tech(CE) offered by this department has been accredited by National Board of Accreditation as per Washington Accord.

The Civil Engineering Department established in 1962, in Madan Mohan Malaviya University of Technology, Gorakhpur, is one of the oldest departments of the University, working since its inception. The department has, over the years, established its status as a centre for imparting high quality technical education to undergraduate and post-graduate students and extending consultancy services to industries and various government departments located in the Eastern U. P. Besides undergraduate course of B. Tech. (Civil Engineering), the department offers two regular P. G. courses viz. M. Tech. (Civil) in Hill Area Development Engineering and M. Tech. (Civil) in Environmental Engineering. The facilities for doctoral research are also available in the department. 

The department has experienced and highly qualified faculty members. The department capitalizes on its well qualified and dedicated faculty, which is clammering for achieving excellence. Further the strength of the department also lies in the strong linkages, it has with its alumni and various government/private organizations located in the region. The alumni of the department are well placed in various govt. / private organizations and are in close contact with the department. The department has been continuously interacting with the various government and private organization in the form of consultancy works, expert advice, design projects etc. 

With the strength of faculty, the department has the potential to raise the standards of technical education to any desired level, if infrastructural facilities are augmented. Needless to mention, the college itself is located in the under developed region of eastern U.P., which is both flood and drought prone and lacks in industrial development. These special needs of this under-developed region can only be tackled by us, because of our understanding of the local conditions.
</div>
