<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" width="60" height="60"/></a>
  <a class="navbar-brand" routerLink="/home">Computer Science and Engineering</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="jumbotron">
<h4><u>Computer Science and Engineering</u></h4>
<br>
About Department
B.Tech(CSE) offered by this department has been accredited by National Board of Accreditation as per Washington Accord.

This department was established in 1984 and with time it has earned the recognition as one of the top Computer Science & Engg. programs in the UP. The department offers B.Tech. in Computer Science & Engineering. Besides B.Tech., the department is also running Master of Computer Application (MCA). The department has also started M.Tech. in Computer Science & Engineering and is the first in offering this PG program among UP Govt. aided Engineering Institutions. In parallel the department also offers M.Tech. in Information Technology.

The Department has a number of laboratories equipped with state-of-the-art computing facilities to support the research and teaching activities especially in areas of Mobile Computing/Databases, Computer Networking etc. A departmental library with about 500 books on Computer Science for the exclusive use of the faculty and students is located in the premises of the Department.
</div>
