<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" width="60" height="60"/></a>
  <a class="navbar-brand" routerLink="/home">Electronics and Communication Engineering</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="jumbotron">
<h4><u>Electronics and Communication Engineering</u></h4>
<br>
The Department of Electronics & Communication Engineering was established in the year 1973 with an intake of 20 and has been gradually increased to 75 from the academic session 2000-2001 and 120 from the academic session 2015-2016. The Department has made all round progress in the last four decades as a result of firm determination and continuous efforts made by all the faculty members and staff of the department. 

The Department offers full time M.Tech. in “Digital Systems” and “Communication Engineering” from the academic session 2003-2004 and 2012-2013 respectively with an intake of 18 students in each specialization. The Department also offers regular Ph.D. program through QIP & TEQIP/University schemes. To enhance the knowledge of students and fulfill the gap among the academia and industries, the Department has recently established the Center of Excellence (CoE) Lab by the Texas Instruments under the Texas Instruments University Program.  
</div>
