<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" width="60" height="60"/></a>
  <a class="navbar-brand" routerLink="/home">Undergraduate Courses</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="jumbotron">
<h4><u>BACHELOR OF TECHNOLOGY (B.Tech.)</u></h4>
The university offers 4-year B.Tech. degree programmes in Computer Science & Engineering, Civil Engineering, Mechanical Engineering, Electrical Engineering and Electronics, Communication Engineering & Chemical Engineering branches.

The first year course is common to all branches followed by specialized courses in the subsequent years. In final year, the students have to undertake the project work & industrial training besides the subjects as prescribed by Madan Mohan Malaviya University of Technology, Gorakhpur.
<h4><u>Admission Policy</u></h4>
The admission is open to candidates under existing Government policies for both sexes without distinction of caste, creed & colour. Admission to Bachelor of Technology, courses is through an Admission Test conducted by MMMUT.
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Course Branch</th>
      <th scope="col">Intake</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Civil Engineering</td>
      <td>120</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Computer Sc. & Engineering</td>
      <td>120</td>
    </tr>
    <tr>
    <tr>
      <th scope="row">3</th>
      <td>Electrical Engineering</td>
      <td>120</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Electronics & Communication Engineering</td>
      <td>120</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Mechanical Engineering</td>
      <td>120</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Chemical Engineering</td>
      <td>60</td>
    </tr>
  </tbody>
</table>
<u><b>(a)Procedure for Admission</b></u>
<br>
For admission to first year of B.Tech., the candidate should have passed 10 + 2 examination with at least 45% marks (40% in case of candidate belonging to SC/ST category) and also in Mathematics, Physics and Chemistry each without grace with at least 50% marks (45% in case of candidate belonging to SC/St category).
<br>
<br>
<u><b>(b)Award of Degree</b></u>
<br>
The award of degree shall be made by the university on successful completion of the respective Course. 
Note : The University reserves the right to cancel at any stage the admission of a candidate who has been found disqualified in accordance with the rules and regulations enforced at the time of admission or if the candidate has been found to furnish wrong information or involved in gross misconduct at any stage during the course.
</div>
